

		

		
h1{font-size: 2rem;
color: blue;
text-transform:solid;
transform-style: solid;


 }
 body{ color: black;}


html
{width: 100%;
 height:100%;
background-position:top;
background-image: url(image1.jpg);
background-size: cover;
font-family: sans-serif;
-o-background-size:cover;
-moz-background-size:cover;
-webkit-background-size: cover;

}
.btn{
	padding:1px 1px 
}
.btn{
	border-radius:100px;
	font-weight:50;
	font-size:20px;
	text-align-last: left;
	

}
.buffer{
	height: 50px
}
